<img url"https://static1.squarespace.com/static/563e619ce4b0d49f21779888/t/5694043ba2bab8c9489788ca/1452540997998/Mountain+Climbers.jpeg?format=1500w"> 
<div class="container">
	<div class="row valign-wrapper">
		<div class="col-md-12">
		<h1>Find Yourself a Climbing Buddy!</h1>
			<% @users.each do |user| %>
			<ul>
		        <%= link_to user.name, user %>
		    </ul>
			<% end %>

		</div>
	</div>
</div>
