<div class="row" id="nav_links">
  <div class="col-md-6">

<% @conversations.each do |message| %>
    <div class="media">
      <div class="media-left">
        <!-- user avators can go here -->
        <a href="#">
          <img class="media-object" src="http://placehold.it/64x64" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= message.subject %> <br>
          <small><b>Subject: </b><%= message.subject %></small><br>
        </h4>

      </div>
    </div>
<% end %>
</div>
</div>