/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require chosen
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import 'bootstrap';
 @import 'bootstrap.theme';

#navbar-top {
	margin-bottom: 10px;
	padding: 10px;
}

.container {
	padding: 80px;
}

/*
body {
		background: url("/images/mountain-climbers.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}*/
.nav {
	padding-right: 7px;
}

.nav_link {
	padding-top: 5px;	
}
#community_row {
    margin-right: -129px;
    margin-left: 50px;
}
#community_title {
    margin-left: 328px;
}
a {
	color: #b75a33;
	font-size: 27px;
}

.image_1 {
	height: 175px;
}
.image_2 {
	height: 175px;
}
.image_3 {
	height: 175px;
}
.image_4 {
	height: 175px;
}
.image_5 {
	height: 175px;
	margin-top: 28px;
	margin-bottom: 28px;
}
.image_6 {
	height: 175px;
	padding-left: 48%;
	margin-top: 28px;
	margin-bottom: 28px;
}
.image_7 {
	height: 175px;
}
.image_8 {
	height: 175px;
}
.image_9 {
	height: 175px;
}
.image_10 {
	height: 175px;
}
#title {
	font-family: 'Amatic SC', cursive;
    font-size: 100px;
    padding-left: 70px;
}
#tag_line {
	font-family: 'Amatic SC', cursive;
	font-size: 42px;
    padding-left: 92px;
}