/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require chosen
 *= require_self
 */

 @import 'bootstrap';

#navbar-top {
	margin-bottom: 10px;
	padding: 10px;
}

.container {
	padding: 80px;
}

.nav {
	padding-right: 7px;
}

.nav_link {
	padding-top: 5px;	
}

.btn {
	padding: 7px 29px;
	font-size: 20px;
}

#community_row {
    margin-right: -129px;
    margin-left: 50px;
}

#community_title {
    margin-left: 230px;
	font-family: 'Amatic SC', cursive;
	font-size: 80px;
}

#user_name {
	font-family: 'Amatic SC', cursive;
    padding-left: 36px;
	text-align: center;
}
.attribute {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
    padding-left: 25px;	
}

.panel-body {
    margin-right: -104px;
}
a {
	color: #b75a33;
	font-size: 27px;
}

h2 {
	color: #984B43;
}

.image_1 {
	height: 175px;
}
.image_2 {
	height: 175px;
}
.image_3 {
	height: 175px;
}
.image_4 {
	height: 175px;
}
.image_5 {
	height: 175px;
	margin-top: 28px;
	margin-bottom: 28px;
}
.image_6 {
	height: 175px;
	padding-left: 48%;
	margin-top: 28px;
	margin-bottom: 28px;
}
.image_7 {
	height: 175px;
}
.image_8 {
	height: 175px;
}
.image_9 {
	height: 175px;
}
.image_10 {
	height: 175px;
}
.image {
    height: 98px !important;
}
.image_13 {
	height: 175px;
	padding-left: 48%;
	margin-top: 17px;
	margin-bottom: 28px;
}
.image_15 {
	height: 175px;
	margin-top: 15px;
	margin-left: 69px;
}
.image_10 {
	height: 175px;
	padding-left: 76px;
}
.image_25 {
	height: 175px;
}
.image_17 {
	height: 175px;
	padding-left: 70px;
}
.image_16 {
	height: 175px;
    padding-left: 280px;
}

#quote {
	font-size: 50px;
	font-weight: bold;
	color: orange;
	text-align: center;
	font-family: 'Amatic SC', cursive;
}

#title {
	font-family: 'Amatic SC', cursive;
    font-size: 93px;
    padding-left: 70px;
}
#tag_line {
	font-family: 'Amatic SC', cursive;
	font-size: 42px;
    padding-left: 92px;
}
#gym_choice {
	font-family: 'Amatic SC', cursive;
	font-size: 36px;
	font-weight: bold;
}

.gym {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	font-weight: bold;
}
#sign_up_form {
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
}

.submit_profile {
	font-family: 'Amatic SC', cursive;
	font-size: 50px !important;	
	color: orange !important;
}

.sign_up {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;	
}
.submit {
	font-family: 'Amatic SC', cursive;
	font-size: 75px;
	padding: 7px 29px !important;

}
.user_profile_name {
	font-family: 'Amatic SC', cursive;
	font-size: 75px;
	color: orange;
}

#gym_profile {
	font-color: brown;
}

#conversation_form {
    margin-left: 400px;
}


.message {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;	
	color: orange;
	padding-left: 33px;	
}
#inbox {
    padding-top: 50px;
}

#entire_conversation {
    padding-top: 60px;
    margin-left: 200px;
}

#nav_links {
	margin-top: 10px;
}

#user_email {
	font-size: 21px;
	font-family: 'Amatic SC', cursive;
}
#user_password {
	font-size: 21px;
}
#user_name {
	font-size: 21px;
}
#user_password_confirmation {
	font-size: 21px;
}
.routes {
	text-align: center;
}
input {
	font-family: 'Amatic SC', cursive;
}